body {
    color: rgb(152, 152, 250);
    background: rgb(255, 254, 254);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  margin-bottom: 100px;
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
.chamada {
    background: rgb(77, 103, 105);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  img {
    height: 140px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
  .categoria-videos img {
    opacity: 0.5;
    height: 140px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(122, 110, 228);
}
.categoria h2 {
    color: rgb(127, 157, 197);
}